/*
abnomize Custom Style CSS
*/
@media print {
	
header#masthead,
.small-12.large-6.column.sidesearch,
.row.header-wid,
#content #secondary,
#colophon,
.scrollup,
.woosingle-sidebar2,
div#comments,
#colophon,
.breadcrumbs,
.nav-links,
#random-post,
#content #secondary,
.footerwidgetarea{
   display:none;
}
.large-8.columns.content-area{
  width: 100% !important;
}
.entry-content,
h1.entry-title,
img.attachment-republic_singlefull.size-republic_singlefull.wp-post-image,
div.entry-meta  {
    visibility: visible;	
	display: block;
  }
  article {
    position: relative;
	display: block;
    left: 0;
    top: 0;
  }
  a[href]:after {
    content: none !important;
  }
}
/* .menu-all-pages-container{ */
	    /* background: #384959; */
    /* box-shadow: 0px 0px 4px 0px #ddd; */
/* } */
nav#site-navigation{
}
ul#mainmenu>li> ul.sub-menu{	
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
ul#mainmenu>li ul.sub-menu>li> ul.sub-menu{
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
}
ul#mainmenu>li ul.sub-menu>li:hover a{
	    background: #37998c;
color: #fff;}
ul#mainmenu>li ul.sub-menu>li> ul.sub-menu>li a:hover{
	color:#f1f1f1;
}
ul#mainmenu>li ul.sub-menu>li> ul.sub-menu>li a{
    background: #37998c;
    color: #fff;
}
ul#mainmenu>li ul.sub-menu>li>a:hover{
	color: #fff;
    background: #37998c;
}
ul#mainmenu>li ul.sub-menu>li>a{
background: #fdfdfd;
    padding: 0.8rem 1rem;
    color: #7d7c7c;
    font-weight: bold;
}
ul#mainmenu>li:hover>a,
.main-navigation li:hover > a,
ul#mainmenu>li>a:hover{
	    color: #384959;
}
ul#mainmenu>li.menu-item-has-children ul.sub-menu>li.menu-item-has-children>a:after{
	content: "\f0da";
	font: normal normal normal 14px/1 FontAwesome;	
	padding: 5px;

}
ul#mainmenu>li.menu-item-has-children>a:after{
	content: "\f0d7";
	font: normal normal normal 14px/1 FontAwesome;	
	padding: 5px;
}
.mainmenu .is-dropdown-submenu{
	    border: none;
		    background: transparent;
}
ul#mainmenu>li>a{
    display: block;
    padding: 1.2rem 1rem;
    line-height: 1;
    color: #99a;
    font-weight: bold;
    transition: color .2s;
    font-size: 0.9rem;
}
div#sitewidth {
    margin-top: 12px;
}
.small-12.large-6.column.sidesearch {
    display: block;
    position: relative;
    z-index: 99;
    margin-bottom: 83px;
}
.sidesearch .input-group{
	    margin-bottom: 0;
}
.sidesearch #searchsubmit {
    float: left;
    padding: 5px;
    height: 45px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 50px;
}
.sidesearch #s{
	    float: left;
    height: 45px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 78%;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.marketing-site-footer .socials{
	margin-top:-64px;
	margin-left: 22px;
	position: absolute;
}
.socials i:hover{
	 color:#333;
}
.socials a i{
	background: #ebebeb;
    padding: 4px;
    border: 1px solid;
    border-radius: 5px;
}
.socials i{
	font-size:1.4rem;
	    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.header-area{
	padding: 20px 0px;
	background-size: cover;
}
.title-bar .button.menu{
	    border-radius: 3px;
}
.title-bar{
	background: transparent;
	    color: #fefefe;
		padding: 0rem 1rem;
}
ul#mobilemenu:before{
    content: "\f0d8";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    margin-top: -14px;
    margin-left: 15px;
    color: #a9a9a9;
    font-size: 1.2rem;
}
ul#mobilemenu {
    background: #fff;
    float: left;
    margin: 0px 15px;
    border-radius: 3px;
    position: relative;
    border: 1px solid #ddd;
    clear: both;
    margin-bottom: 10px;
    z-index: 99;
}
ul#mobilemenu>li.menu-item-has-children ul.sub-menu>li.menu-item-has-children>a:after{
	content: "\f0da";
	font: normal normal normal 14px/1 FontAwesome;	
	padding: 5px;

}
ul#mobilemenu a.menu-link.sub-menu-link:before{
	
		content: "\f105";
	font: normal normal normal 14px/1 FontAwesome;	
	padding: 5px;
}
ul#mobilemenu>li.menu-item-has-children>a:after{
	content: "\f0d7";
	font: normal normal normal 14px/1 FontAwesome;	
	padding: 5px;
}
a{
    outline : none !important;
}
.rand h4 a, .rand h4 {
    font-size: 0.8rem;
    color: #727272;
    font-weight: bold;
    padding: 7px 1px;
}
/*--------------------------------------------------------------
# Website Width Define
--------------------------------------------------------------*/
body{
	background:#f1f1f1;
	word-wrap: break-word;
}
p.site-title{
	padding-top:5px;
    line-height: 1.5rem;
font-size: 3rem;	
}
h1.site-title {
    line-height: 2rem;
    padding: 0 4px;
}
p.site-title a,
h1.site-title a{
    font-size: 1.3rem;
    font-weight: bold;
}

.heading {
    padding: 75px 0;
    color: #c6c6c6;
    text-align: center;
    display: block;
}
/*--------------------------------------------------------------
# Search Form
--------------------------------------------------------------*/
#searchform{
    padding-top: 5px;
}
#s{
    width: 65%;
    float: left;
    height: 37px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

input#searchsubmit::before{
    font: normal normal normal 14px/1 FontAwesome;
	    content: "\f002";
		z-index:999;
}
#searchsubmit{
    float: left;
	padding:5px;
    height: 37px;
	border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
	width: 42px;
}
.titlepage,
.search-result-title{
font-size: 2rem;
}
/*--------------------------------------------------------------
# Thumbnail Image
--------------------------------------------------------------*/
img.attachment-post-thumbnail:hover{
opacity: 0.8;

}
/*--------------------------------------------------------------
# Front Page
--------------------------------------------------------------*/
#big-display{
	background-color: #FAFAFA;
	margin-top: 20px;
	margin-bottom: 30px;
	border: 1px solid;
	border-color: #ddd;
	padding: 0px;
}
.large-12 .front-label{
  padding:8px;
  float: left;
  font-size: 1.2rem;
  min-width: 14%;
}
/*--------------------------------------------------------------
# News Ticker 
--------------------------------------------------------------*/
.ticker {
	height: 42px;
	overflow: hidden;
	line-height: 42px;
	background: #333;

}
.ticker li span{
	background-color: #2b2b2b;
	border-right: 1px solid #909090;
	color: #FFF;
	padding: 18px;
	margin-right: 5px;
	font-size: 20px;  
}

.ticker li i{
      color: #ffffff;
	  font-size: 20px;
      padding: 4px 6px 0px 5px;
}
.ticker a:hover{
	color:#D8D8D8;
}
.ticker a{
	color: #ffffff;
    font-size: 15px;
    margin: 7px 9px 0px 14px;
    position: absolute;
	background:#333;

}
#random-post .latest-post a {
color:#EA1515;
}
.latest-post a {
font-weight: bold;
font-size: 15px;
}

.latest-post img:hover {
opacity: 0.4;
}
.latest-post img {
width: 125px;
height:125px;
float: left;
margin-right: 8px;
text-align: center;
-moz-transition: all 0.6s ease-in-out;
-webkit-transition: all 0.6s ease-in-out;
-o-transition: all 0.6s ease-in-out;
-ms-transition: all 0.6s ease-in-out;
transition: all 0.6s ease-in-out;
}

#random-post .latest-post .desc p{
	font-size:0.8rem;
}
.latest-post .desc {
	max-height: 44px;
	overflow: hidden;
}

.latest-post .clear {
	clear: both;
}
/*--------------------------------------------------------------
# Latest Posts
--------------------------------------------------------------*/
.latest-post img:hover, .latest-post img.attachment-post-thumbnail:hover{
	opacity: 0.5;
 
}
/*--------------------------------------------------------------
# Content Area
--------------------------------------------------------------*/
dl, ol, ul{
	list-style-position: inside !important;
}
div.postbox article.sticky{
    position: relative;
    width: auto;
    z-index: initial;
	background: rgba(255, 235, 59, 0.44);
}
p#breadcrumbs a{
 color: #5f5f5f;}
 p#breadcrumbs{
    border-bottom: 1px solid #e3e4e4;
    padding: 10px 10px 10px 5px;
    margin-bottom: 0;
    color: #5f5f5f;
 	font-size: 0.8rem;
}
.entry-content img {
	padding: .53em;
	background: #fff;
}
.columns.postbox {
    padding-left: 5px;
    padding-right: 5px;
}
#page{
margin:0 auto;
  overflow: hidden;
}
#content{
	margin-top:2%;
}
div.row{
max-width: 82rem;
}
.tagcloud a:hover{
	opacity: 0.6;
}

.tagcloud a{
	font-size: 13px !important;
	display: inline-block;
	padding: 0 10px;
	min-height: 28px;
	line-height: 28px;
	border-radius: 8px;
	border: 1px solid;
	margin: 2px 0;
	-webkit-transform: all 0.2s;
	-moz-transform: all 0.2s;
	-ms-transform: all 0.2s;
	-o-transform: all 0.2s;
	transform: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s
}

.wp-caption{   
    border: 1px solid #e9e4e3;
    padding: 10px 10px 0px 10px;
}

span.vcard {
	border:none;
	padding:0;
}

.nav-previous a:before{
	content: "\f137";
	font: normal normal normal 14px/1 FontAwesome;
	padding: 5px;
	color: #9B9B9B;
	font-size: 1rem;
}
.nav-next a:after{
	content: "\f138";
	font: normal normal normal 14px/1 FontAwesome;
	padding: 5px;
	color: #9B9B9B;
	font-size: 1rem;
}
p.form-allowed-tags{
    display:none;
}
#commentform > p.comment-form-comment > label:before {
	content: "\f0e5";
	font: normal normal normal 14px/1 FontAwesome;
	padding: 5px;
	color: #9B9B9B;
	font-size: 1rem;   
}
h2.comments-title {
    font-size: 21px !important;
    padding: 13px 0px;
}
h2.comments-title:before{
    content: "\f086";
    font: normal normal normal 14px/1 FontAwesome;
    padding: 5px;
    font-size: 20px;
}
a.myacc:before{
    content: "\f007";
	font: normal normal normal 14px/1 FontAwesome;
	padding: 5px;
	font-size: 1rem;  
}
a.myacclo:before{
    content: "\f13e";
	font: normal normal normal 14px/1 FontAwesome;
	padding: 5px;
	font-size: 1rem;  
}
a.cart-contents:before{
    content: "\f07a";
	font: normal normal normal 14px/1 FontAwesome;
	padding: 5px;
	font-size: 1rem;  
}
#commentform > p.comment-form-comment > label {
    
    display: block;
    margin-bottom: 0.88889rem;
    padding: 0.33333rem 0.5rem 0.5rem;
    position: relative;
    bottom: -14px;
    clear: both;
    background: #f2f2f2;
    border: 1px solid;
    color: #333333;
    border-color: #cccccc;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom: 0;  
    
}
ol.comment-list,ol.children{
    
    list-style: none;
}
article.comment-body{
-webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  clear:both;
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-family: inherit;
  font-size: 0.875rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.15s linear, background 0.15s linear;
  -moz-transition: border-color 0.15s linear, background 0.15s linear;
  -ms-transition: border-color 0.15s linear, background 0.15s linear;
  -o-transition: border-color 0.15s linear, background 0.15s linear;
  transition: border-color 0.15s linear, background 0.15s linear;
}
div.vcard{
    
    display: block;
  margin: 0;
  border: 0;
 padding: 0; 
}
footer.comment-meta{
	display: block;
	margin-bottom: 0.88889rem;
	padding: 0.33333rem 0.5rem 0.5rem;
	position: relative;
	clear: both;
	background: #f2f2f2;
	border-bottom: 1px solid;
	color: #333333;
	border-color: #cccccc;
  }
  footer > div.comment-author.vcard > b{
      margin-left: 2%;
  }
div.comment-metadata{
	margin: -5px 0 0 11%;
}
footer > div.comment-metadata > a time:before{
	content: "\f017";
	font: normal normal normal 14px/1 FontAwesome;
	padding: 2px;
}

footer .social{
    text-align: right;
    line-height: 1;
}
div.comment-content{
    padding: 5px 10px;
}
.reply a.comment-reply-link:hover{
	background: #3B7A9F;
}
.reply a.comment-reply-link {
    color: #FEFEFE;
    float: right;
    background: #40ACEC;
    padding: 5px 11px;
    margin: 10px 18px;
    border-radius: 4px;
}
  div.replybutton{
    float:right;
    margin-bottom:0px;
      padding: 12px 20px 11px 9px;
  }
  input#submit{
      
      padding:14px;
  }
.reply a.comment-reply-link:before{
content: "\f112";
font: normal normal normal 14px/1 FontAwesome;
padding: 5px;
  }
div.comment-author.vcard > img{
  margin-bottom: -18px; 
  width: auto;
  height: auto;
  border: 1px solid;
  padding: 5px;
  border-color: #ddd;
  border-radius: 20%;
}
.even article.comment-body{
    background-color: #FFFFFF;
}
.odd article.comment-body{
    background-color: #F7F7F7;
}
ul.right #searchform > div > div > div > div.small-2.columns > input{
    height: 30px;
    margin-top: -1px;
    padding-right: 17px;
background: #f04124;
    border-radius: 4px;
	
	}
#searchform > div > div > div > div.small-2.columns > input{
    text-indent:-9999px;
      z-index: 1;
    
}
#searchform > div > div > div > div.small-2.columns{
  max-width: 39px;
  position: absolute;
  left: 78%;
}
ul.right #searchform > div > div > div > div.small-2.columns > i{
    margin: 41% 0 0 57%
}
#searchform > div > div > div > div.small-2.columns > i{
    
  position: absolute;
  color: #FFFFFF;
  margin: 25% 0 0 57%;
  z-index: 2;
  cursor: pointer;
}
/*--------------------------------------------------------------
# Author
--------------------------------------------------------------*/
.author-bio{
    border-top: 1px solid;
    padding: 10px 0px;
    border-bottom: 1px solid;
    border-color: #ddd;
  }
  
.author-bio img{
  border: 1px solid;
  padding: 5px;
  border-color: #ddd;
}
.author-title{
    font-weight: bold;
    text-transform: uppercase;

}
.author-meta i.fa-globe{color:;}
.author-meta i.fa-envelope{color:;}
.author-meta i.fa-facebook-official{color:#3b5998;}
.author-meta i.fa-youtube-square{color:#bb0000;}
.author-meta i.fa-twitter-square{color:#00aced;}
.author-meta i.fa-pinterest-square{color:#cb2027;}
.author-meta i.fa-google-plus-square{color:#dd4b39;}
.author-meta i.fa-rss-square{color:#ff9900;}
.author-meta i.fa-instagram{
	background-color: #ffffff;
    padding: 0;
	font-size: 24px;
	margin-right: 4px;
    color: #125688;
}
.author-meta i:hover{
color:#8C8C8C;
}
.author-meta i{
	font-size: 24px;
	margin-right: 4px;

}
div.author-bio > ul > li > div.large-2.columns {
    padding-left: 0;
    padding-right: 0;
}
/*--------------------------------------------------------------
# Sidebars
--------------------------------------------------------------*/
.large-4.columns.sidebar{
	padding-right:0px;
}
#secondary .widget{
    background: #fff;
    padding: 7px;
}
h1.widget-title{
    font-size: 1.2rem;
    background: #333333;
    color: #fff;
    padding: 8px;
    clear: both;
    position: relative;
    border-bottom: 4px solid #FF4646;

}
.tabs-content > .content{
      padding: 5px 0px 0px 0px !important;
}
.sidebarwidget1 {
	margin-bottom: 2px;
	list-style: none;
        border-bottom: 1px solid #F2F2F2;
  padding: 10px;
}
.sidebarwidget1 a {
  float: none;
    color: #404040;
    font-size: 0.8rem;
    font-weight: bold;
}
.sidebarwidget1 img {
float: left;
  margin: 2px 12px 4px 0;
  border: 1px solid #dedbd1;
  height: 65px;
  width: 65px;
}
.sidebarwidget1 .clear {
	clear: both;
}
#panel2-2,#panel2-1{
    border: 1px solid #bbb;
   
}
.tabs dd, .tabs .tab-title #panel2-2, .tabs dd.active a, .tabs .tab-title.active a{
      margin-bottom: -1px;
}
.tabs dd > a, .tabs .tab-title > a{
border: 1px solid #bbb;
    font-size: 14px !important;
    font-weight: bold;
    color: #676767 !important;
	    border-bottom-width: 4px;
}
.widgetinfo,.widgetinfo a{
    font-size: 12px;
  font-weight: bold;
  color: #A0A0A0;
}


/*--------------------------------------------------------------
# Comments
--------------------------------------------------------------*/
#comments span.prefix{
padding:5px;
}

/*--------------------------------------------------------------
# WooCommerce
--------------------------------------------------------------*/
.woocommerce div.product form.cart .variations td.label{
	background: transparent;
    padding: 12px 11px;
	
}
.woocommerce .woocommerce-message{
    
  border-top-color: #20598A;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
div#random-post > h4::before,
div.related.products > h2::before{
	content: "\f074";
    padding: 8px;
    font: normal normal normal 14px/1 FontAwesome;
}
div#random-post > h4{
	background: #2B94DE;
    float: left;
    color: #fff;
    padding: 10px;
    margin-bottom: 3%;
    border-radius: 3px;
	font-size: 1rem !important;}
div.related.products > h2 {
	background: #008CBA;
    float: left;
    color: #fff;
    padding: 10px;
    margin-bottom: 3%;
    font-size: 1.2rem !important;
    border-radius: 3px;
}

.woocommerce div.product div.images img{
    padding: 9px;
    border-top: none;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
    
   background-color: #ffffff;
}
a.added_to_cart.wc-forward{
    display: none;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
    
    background: #f78828;
    border: 1px solid #da7532;
    background: linear-gradient(to bottom,#f78828 0,#dd771f 100%);
    font-weight: bold;
    box-shadow: none;
;
}
 .woocommerce div.product form.cart .button:before {content: "\f07a";
  font: normal normal normal 14px/1 FontAwesome;
  padding: 1px 6px 0px 0px;
  font-size: 1.1rem;
}

.woocommerce div.product .woocommerce-tabs .panel{
    background-color: #ffffff;
  padding: 20px;
  margin-top: 0px;
 border-top:0px;   
}
.woocommerce div.product .woocommerce-tabs ul.tabs li{
    border-radius: 0px;
}

.woocommerce div.product .woocommerce-tabs .panel h2{
font-size: 1.3rem;
  margin-bottom: 24px;
}
.woocommerce p.myaccount_user{
    padding: 21px;
    border-color: #DBDBDB;
    color: #333333;
    border: 1px solid #e9e9e9;
    overflow: hidden;
    background-color: #f5f5f5;
}

div.summary.entry-summary > div.woosingle-sidebar2 > div {
	background: #ffffff;

}


.woocommerce ul.products li.product .button{
    
  margin: 0px 0px 0px 5px;
  background-color: transparent;
  float: left;
  font-size: 75%;
  color: #578CBC;
}

.product-details-container {
  border-bottom: 1px solid #e7e6e6;
  padding-bottom: 20px;
  min-height: 50px;
    margin-top: -22px;
}
.product-buttons a {
  display: block;
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 16px;
  width: auto;
  max-width: 49%;
  line-height: inherit;
  font-size: 12px;
  text-shadow: none;
}
.product-details {
  padding: 20px 15px 0px 15px;
}
.product .product-buttons {
  padding-bottom: 12px;
  padding-top: 12px;
  margin: 0 15px;
  margin-top: 4px;
  border-top: 1px solid #EBEAEA;
}
.product-buttons .add_to_cart_button:before,
.product-buttons .product_type_simple:before {
       content: "\f07a";
	font: normal normal normal 14px/1 FontAwesome;
  margin-top: -2px;
}
.product-buttons .show_details_button{
      float: right;
    margin: 5px 5px 5px 5px;
}
.product-buttons .show_details_button:before {
content: "\f0c9";
font: normal normal normal 14px/1 FontAwesome;
margin-top: 2px;

}
.product-buttons a:before {
  position: absolute;
  margin-left: -16px;
font: normal normal normal 14px/1 FontAwesome;
  color: inherit;
}
.products > li {
  border: 1px solid #efefef;
  border-bottom-width: 2px;
}
.woocommerce span.onsale{
  min-height: 32px;
  min-width: 32px;
  padding: 4px;
  font-size: 11px;
  font-weight: 800;
  position: absolute;
  text-align: center;
  line-height: 32px;
  top: 6px;
  left: 6px;
  margin: 0;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  background: #0AC765;
  text-shadow: none;
  color: #fff;
  box-shadow: none;
  border-bottom-right-radius: 0px;
}
.woocommerce ul.products li.product .onsale {
  top: -10px;
  right: auto;
  left: -10px;
  margin: auto;
  -webkit-backface-visibility: hidden;
  display: block;
  z-index: 98;
  color: #fff;
  line-height: 39px;
  text-align: center;
  position: absolute;
  padding: 0px 5px;
  pointer-events: none;
}
.product-images {
  display: block;
  text-align: center;
  position: relative;
}
.product-images .crossfade-images {
  white-space: nowrap;
  display: block;
}
.product-images .crossfade-images .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.product-images .crossfade-images:hover img:not(.hover-image) {
  opacity: 0;
}
.product-images .crossfade-images:hover .hover-image {
  opacity: 1 !important;
}
.product-images .crossfade-images img {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  position: relative;
  z-index: 50;
  min-width: 100%;
  vertical-align: middle;
}
.product-images .crossfade-images .hover-image {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
}
div.summary.entry-summary > div.product_meta{
    padding:10px;
    font-size:0.8rem;
}

div.summary.entry-summary > div.product_meta > span:before{
    content: "\f115";
	font: normal normal normal 14px/1 FontAwesome;
	padding: 5px;
}
 .woocommerce div.product .woocommerce-tabs ul.tabs li a,   .woocommerce div.product .woocommerce-tabs ul.tabs li.active a{
    padding: 12px 8px 12px 15px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs .reviews_tab:before{
    content: "\f0e5";
    font: normal normal normal 14px/1 FontAwesome;
    left: 11px;
    top: 15px;
    font-size: 1rem;
}
.woocommerce div.product .woocommerce-tabs ul.tabs .additional_information_tab:before{
	content: "\f05a";
	font: normal normal normal 14px/1 FontAwesome;
	left: 14px;
	top: 17px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs .description_tab:before{
	content: "\f0c9";
	font: normal normal normal 14px/1 FontAwesome;
	left: 14px;
	top: 17px;
}
.woocommerce .order_details{
	background: #F5F5F5;
	border: 1px solid rgba(0,0,0,.1);
	padding: 15px;
	color: #888;
}
.woocommerce .order_details li.order:before{
	content: "\f138";
	font: normal normal normal 14px/1 FontAwesome; 
	font-size: 1.7rem;
	position: absolute;
	margin-left: -33px;
	margin-top: 0px;
	color: yellowgreen;
}
.woocommerce .order_details li.total:before{
	content: "\f156";
	font: normal normal normal 14px/1 FontAwesome; 
	font-size: 1.7rem;
	position: absolute;
	margin-left: -30px;
	margin-top: 0px;
	color: yellowgreen;
}

.woocommerce .order_details li.method:before{
   content: "\f09d";
font: normal normal normal 14px/1 FontAwesome; 
font-size: 1.7rem;
  position: absolute;
  margin-left: -39px;
  margin-top: 0px;
  color: yellowgreen;
}
.woocommerce .order_details li.date:before{
   content: "\f017";
font: normal normal normal 14px/1 FontAwesome; 
font-size: 1.7rem;
  position: absolute;
  margin-left: -33px;
  margin-top: 0px;
  color: yellowgreen;
}
.woocommerce .order_details li{
      margin-left: 2rem;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar{
  width:42px;
}

.woocommerce-cart .cart-collaterals .cart_totals table{
      border-left: 1px solid #DDD;
}
.woocommerce-cart .cart-collaterals .cart_totals table td, .woocommerce-cart .cart-collaterals .cart_totals table th{
    padding-left: 10px;
}
input#coupon_code{
    width: 53% !important;
}

/*--------------------------------------------------------------
# Scroll to top
--------------------------------------------------------------*/
.backtoup{
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem 1.0625rem 2rem;
  font-size: 1rem;
  background-color: #008CBA !important;
  border-color: #007095;
  color: #FFFFFF;
  transition: background-color 300ms ease-out; }
  backtoup:hover, backtoup:focus{
    background-color: #007095; }
  backtoup:hover, backtoup:focus {
    color: #FFFFFF; }

.scrollup{
    width: 2%;
    padding-left: 15px !important;
    padding-bottom: 6px !important;
    text-align: center !important;
    padding-top: 9px !important;
    float: left;
    position: fixed !important;
    bottom: 0px;
    z-index: 99999;
    right: 3.7%;
    margin: 0 !important;
}
.scrollup a:hover{
	text-decoration:none;
        color:#ffffff;
	opacity: 0.5;
}
/*--------------------------------------------------------------
# bbPress forum
--------------------------------------------------------------*/
#bbpress-forums div.wp-editor-container{
border: 1px solid #DFD9D9;}
#bbpress-forums fieldset.bbp-form input{
border: 1px solid #DFD9D9;
  padding: 7px;
}
#bbpress-forums fieldset.bbp-form label{
font-weight: bolder;}

#bbp_topic_submit{
  background: #e74847;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  border: none;
  padding: 12px 16px;
  color: #fff;
  margin: 20px;
  border-radius: 4px;
}

/*--------------------------------------------------------------
# Footer Area
--------------------------------------------------------------*/
div#footer-widget{
    color: #a5a5a5;
    background-color:#373737;
	padding-top: 22px;
	margin-top:14px;
}
.footerwidgetarea{
    background-color:#363839;
    color: #8c8989;
	padding-top: 22px;
}
.footerwidgetarea h1.widget-title{
  color: #D3D3D3;
  font-size: 1.2rem;
  padding: 10px;
}
#wp-calendar > caption{
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 8px;
  color: #333;  
}
.bottom-menu-1{
    overflow: auto;
}
.footerwidgetarea abbr[title]{
      color: #8C836D;
}
#colophon{
  width: 100%;
  background-color: #4b4c4d;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ADABAB;
  float: none;
}
#colophon a:active,
#colophon a:visited,
#colophon a:hover{
   color:#fff;
}
#colophon a{
     color: #578CBC;
}

#colophon .footer-social{
    text-align: right;
    float:right;
}

/*--------------------------------------------------------------
# Icons
--------------------------------------------------------------*/
i.fa-shopping-cart,
i.fa-unlock-alt,
i.fa-comments-o,
i.fa-tags,
i.fa-external-link,
i.fa-envelope-o,
i.fa-user,
i.fa-clock-o,
i.fa-folder-open-o{
	padding: 5px;
}
.social i.fa {
    font-size: 2rem;
    color: #fdfdfd;
    padding: 4px;
}
i.fa-facebook-square{color:#3b5998; }
i.fa-google-plus-square{color:#dd4b39; }
i.fa-twitter-square{color:#00aced; }
i.fa-rss{color:#ff9900; }
i.fa-youtube-square{color:#bb0000; }
i.fa-linkedin{color:#007bb6; }
i.fa-pinterest{color:#cb2027; }
i.fa-instagram{color:#517fa4; }
i.fa-flickr{color:#ff0084; }
i.fa-skype{color:#00aff0; }
i.fa-vimeo-square{color:#aad450; }
i.fa-dribbble{color:#ea4c89; }

.top-bar-section .has-dropdown > a:hover + .dropdown,
.top-bar-section .has-dropdown > a:focus + .dropdown{
      position: static !important;
  height: auto;
  width: auto;
  overflow: visible;
  clip: auto;
  display: block;
  position: absolute !important;    
}

.product_list_widget a.remove{
	float: left;
	width: 15px;
	height: 15px;
    
}
/*--------------------------------------------------------------
# Page Navigation
--------------------------------------------------------------*/
.pagination a, .pagination button {
    color: #ffffff;
    border-radius: 4px;
    background: #F44336;
	    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
ul.pagination span.current{
      padding: 4px 10px;
  background-color: #c1c1c1;
  color: #fff;
  border-radius: 4px;
}
.pagination a:hover, .pagination button:hover {
    background: #c1c1c1;
  
}
.pagination{
    clear: both;
}
ul.page-numbers{
   text-align: center;
}
span.page-numbers.dots {
    background: #c1c1c1;
    color: #fff;
    padding: 2px 6px;
    border-radius: 4px;
}
/*--------------------------------------------------------------
# Slider 
--------------------------------------------------------------*/
.orbit-container .orbit-slides-container{
      overflow: hidden;
        position: fixed;
        height: 440px !important;
}
.orbit-container .orbit-slides-container img{
      width: 100%;
}
.orbit-container .orbit-slides-container > * .orbit-caption{
      position: fixed !important;
}
/*--------------------------------------------------------------
# Overwrite foundation css
--------------------------------------------------------------*/
select {
      height: 2.6125rem !important;
}

/*--------------------------------------------------------------
# Contact Form jetpack
--------------------------------------------------------------*/
.contact-form label.name:before{
    content: "\f007";
	font: normal normal normal 14px/1 FontAwesome;
	padding: 5px;
	font-size: 1rem;  
}
.contact-form label.email:before{
    content: "\f003";
	font: normal normal normal 14px/1 FontAwesome;
	padding: 5px;
	font-size: 1rem;  
}
.contact-form label.url:before{
    content: "\f08e";
	font: normal normal normal 14px/1 FontAwesome;
	padding: 5px;
	font-size: 1rem;  
}
.contact-form label.textarea:before{
    content: "\f0e5";
	font: normal normal normal 14px/1 FontAwesome;
	padding: 5px;
	font-size: 1rem;  
}
.imdb {
    text-align: center;
}
.woosingle-sidebar2{
	position:relative;
}
.icon-bar.five-up label, .icon-bar.five-up i{
    color:#ffffff;
        font-size: 1rem;
}
.icon-bar.five-up .item{
	padding: 4px 2px 2px 5px;
	width: auto;
	border-radius: 4px;
	margin: 2px;
}
.icon-bar > a:hover i,
.icon-bar > a i,
.icon-bar .item i.fa-facebook:hover,
.icon-bar .item i.twitter:hover,
.icon-bar .item i.google-plus:hover,
.icon-bar .item i.pinterest-p:hover,
.icon-bar .item i.envelope:hover,
.icon-bar .item i.fa-facebook,
.icon-bar .item i.twitter,
.icon-bar .item i.google-plus,
.icon-bar .item i.pinterest-p,
.icon-bar .item i.envelope
{
	padding: 0;
	border-radius: 0;
	background-color: transparent !important;
}
ul.social a i{
		margin-bottom:8px;
	}
.icon-bar > a.facebook:hover ,
.icon-bar > a.twitter:hover,
.icon-bar > a.google:hover,
.icon-bar > a.tumblr:hover,
.icon-bar > a.linkedin:hover,
.icon-bar > a.print:hover,
.icon-bar > a.pinterest:hover,
.icon-bar > a.envelope:hover{
  opacity:0.8;
  }
.icon-bar > a.facebook{
    background-color: #3b5998 !important;
}

.icon-bar > a.twitter{
    background-color: #00aced !important;
}
.icon-bar > a.google{
    background-color: #dd4b39 !important;
}
.icon-bar > a.pinterest{
     background-color: #cb2027 !important;
}
.icon-bar > a.envelope{
     background-color: #517fa4 !important;
}
.icon-bar > a.linkedin{
     background-color: #0177b5 !important;
}
.icon-bar > a.tumblr{
     background-color: #32506d !important;
}
.icon-bar > a.print {
    background-color: #8a8a8a;
}
.content-area {
    background: #fff;
    padding: 30px 40px;
    position: relative;
}
#random-post .latest-post img, #random-post .latest-post img.attachment-post-thumbnail{
    height: 95px;
    width: 90px;
}
#random-post{
margin-top:20px;
}
.postbox article.page,
.postbox article.post
{
	position:relative;
	background: #fff;
}
img.attachment-featured-image.size-featured-image.wp-post-image{
	width: 100%;
	max-height: 210px;	
}

.postbox img.attachment-post-thumbnail.wp-post-image{
	width:100%;
}

div.entry-meta,
div.entry-meta a{
	padding:5px;
}
div.entry-meta{
	font-size: 0.6875rem;
	text-transform: uppercase;
	color: #959595;
	font-weight: bold;
}	
article footer.entry-footer{
	font-size: 0.9rem;
	    text-transform: capitalize;
    line-height: 18px;
    padding: 10px;
}
.postbox .entry-footer{
    height: auto;
    text-transform: capitalize;
    line-height: 18px;
    padding: 10px;
    padding-bottom: 1px;
}

header.entry-header{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
}
h1.entry-title{
   font-size: 2rem;
   font-weight:bold;
}

.postbox span.cat-links a{
    text-transform: uppercase;
    color: #8a8c8e;
    font-weight: bold;
    font-size: 10px;
}
span.cat-links.single a::before{
    content: "\f07c";
	font: normal normal normal 14px/1 FontAwesome;
    padding: 4px;
}
span.cat-links a::before{
    content: "\f07c";
	font: normal normal normal 14px/1 FontAwesome;
    padding: 4px;
}
.viewcount::before{
    content: "\f06e";
	font: normal normal normal 14px/1 FontAwesome;
    padding: 4px;
}
span.cat-links.single,
span.cat-links.single a
{
color:#888888;
}
span.tags-links a::before{
    content: "\f02c";
	font: normal normal normal 14px/1 FontAwesome;
    padding: 4px;
}
span.tags-links > a{
    padding-left: 0px;
}
 span.edit-link::before{
	content: "\f044";
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 100%;
	padding: 5px 4px 6px 8px;
}
/*************Date****/
   
.entry-meta span.posted-on,
.entry-meta span.posted-on a{
    color: #888888;
}
div.entry-meta > ul.post-categories > li a{

}

 /****Author****/
.entry-meta span.byline a{
	padding: 5px;
	    color: #ff9d22;
}
.entry-meta span.byline a::before{
	content: "\f007";
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 100%;	
	padding: 4px;
}
/****Comment*****/
span.comments-link a{
	background: #E2E2E2;
	padding: 5px 8px 5px 8px;
}
 span.comments-link a:hover{
	background: #20598A;
	color:#ffffff;
}
span.comments-link::before{
	content: "\f0e6";
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 100%;
	color: #ffffff;
	padding: 5px 8px 6px 8px;
	background: #20598A;
	margin-left: 6px;
	margin-right: -3px;
  }
.entry-content {
	margin-bottom: 2%;
}

blockquote{
border-left: 4px solid #FF6363;
}
div.widgetinfo > span.byline{
display:none;
}
span.posted-on a::before{
	content: "\f017";
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 100%;
	padding:4px;
}

footer > span.comments-link > a {
color:#20598A;}



.taxonomy-description{
    padding: 10px;
    clear: both;
}
div.tabs-content address{
	font-size:14px;
}
div.tabs-content h3 {
	border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
div.tabs-content h2 {
	clear: none;
    margin-top: -21px;
    overflow: hidden;
	border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.woocommerce div.tabs-content .active{
    margin-left: 22%;
    border: 1px solid #DDD;
    max-width: 78%;
    padding: 15px !important;
    min-height: 174px;
}

.woocommerce-page .entry-content{
border-bottom:none;
}
div.related.products > h2::before {
	content: "\f074";
	padding: 8px;
	font: normal normal normal 14px/1 FontAwesome;
}


div.related.products > h2 {
	background: #008CBA;
	float: left;
	color: #fff;
	padding: 10px;
	margin-bottom: 3%;
	font-size: 1.2rem !important;
	border-radius: 3px;
}

.tabs dd, .tabs .tab-title #panel2-2, .tabs dd.active a, .tabs .tab-title.active a{
    border-bottom: 1px solid #e1e1e1;
}
.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6, .panel p, .panel li, .panel dl {
	font-family: 'Open Sans', sans-serif;
	color: rgb(85,85,85);
}

div.summary.entry-summary > div.product_meta > span a:before {
	background: #20598A;
	color: #ffffff;
	padding: 4px 4px 6px 8px;
}
#div.summary.entry-summary > div.product_meta > span > a {
	color: #D4D4D4;
	background: #333;
	padding: 5px 8px;
}
#div.summary.entry-summary > div.product_meta > span > a:hover {
	background: #20598A;
	color: #ffffff;
}
.footerwidgetarea h1.widget-title {
	color: #D3D3D3;
	font-size: 1.2rem;
	padding: 8px 5px 8px 0;
	font-weight: bold;
}
#content > div.large-12.columns.belownavi {
	margin-top: 0 !important;
}
ul.tabs.wc-tabs{
    border: none;
	}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	padding: 5px;
}
.tabs dd.active a, .tabs .tab-title.active a{
    margin-right: 3px;
    border-bottom: 1px solid #fff;
    border-top: 5px solid #F34D4D;
    margin-left: 3px;
}

/********Forum***************/
#bbpress-forums .bbp-forum-info .bbp-forum-content, #bbpress-forums p.bbp-topic-meta {
	margin: 4px 0 5px 35px;
	color: #8E8E8E;
}
#bbpress-forums ul.bbp-lead-topic, #bbpress-forums ul.bbp-topics, #bbpress-forums ul.bbp-forums, #bbpress-forums ul.bbp-replies, #bbpress-forums ul.bbp-search-results {
	border: 1px solid #CCC;
}
#bbp_search_submit {
	padding: 10px 22px;
	margin-left: -3px;
}

div.bbp-breadcrumb, div.bbp-topic-tags {
	background: #F9F9F9;
	border: 1px solid #ddd;
	padding: 9px 10px 0;
	    margin-bottom: 10px;
}
#bbpress-forums > div.bbp-breadcrumb > p,
#bbpress-forums > div.bbp-breadcrumb > p > a {
	font-size: 13px;
}
#subscription-toggle{
	padding: 5px;
    position: absolute;
    background: #FDFDFD;
    margin-left: 12px;
    border: 1px solid #ddd;
}

#subscription-toggle::before{
	content: "\f003";
	font: normal normal normal 14px/1 FontAwesome;
	padding: 5px;
}
.bbp-reply-content #subscription-toggle {
	padding: 0;
	background: transparent;
	position: relative;
	border: none;
}

div.bbp-template-notice.info {
    border: #E0E0E0 1px solid;
    background-color: #F5F5F5;
    position: relative;
    margin-top: 10px;
}
/************Popular Post Widget*******/

.popularpost {
	margin-left: 3px;
	list-style: none;
}
.popularpost a:hover {
    color: #EFEFEF;
}
.popularpost a {
	float: none;
	line-height: 28px;
	background-color: rgba(255, 13, 13, 0.5);
	color: #FFF;
	padding: 3px;
	font-weight: bold;
}
.popularpost img {
	float: left;
	height: 75px;
	width: 75px;
	margin-right: 10px;
}
.popularpost .clear {
	clear: both;
}
/******Subscription Form************/
#fes-info{
    font-size: 0.9rem;
    padding: 8px;
}
#fes-form{
    background: rgb(250, 191, 64);
    padding: 10px;
    color: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 15px;

}
#fes-submit:before{
    content: "\f0e0";
	font: normal normal normal 14px/1 FontAwesome;
}

/**********************************************
*JetPack Subscription Widget 
***********************************************/
p#subscribe-submit{
	text-align:center;
}

p#subscribe-submit input[type="submit"]:hover{
 background-color: #3B7A9F;
}
p#subscribe-submit input[type="submit"] {
    background-color: #2199E8;
    color: #fff;
    padding: 10px;
    border: 0;
}

iframe{max-width:100%;}
/******************************
* BuddyPress
*******************************/

#buddypress div.activity-meta a{
	color: #ffffff;
	
}

#buddypress table.forum tr td.label, #buddypress table.messages-notices tr td.label, #buddypress table.notifications tr td.label, #buddypress table.notifications-settings tr td.label, #buddypress table.profile-fields tr td.label, #buddypress table.wp-profile-fields tr td.label{
	width: 100%;
	color:#333;
    background: transparent;
    padding: 10px;
    font-size: small;
    line-height: normal;
}
#buddypress div.profile h4{
	padding:10px;
}
div#item-nav > div.item-list-tabs ul li{    border-right: 1px solid #ddd;}
div#item-nav > div.item-list-tabs#object-nav{
	    border: 1px solid #ddd;
}

div#item-body > div.item-list-tabs#subnav ul li.last{
	    margin-top: 0;
    display: flex;
}

#buddypress div.item-list-tabs#subnav ul li.last > label{
    padding: 7px 10px 2px 5px;
}
div#item-body > div.item-list-tabs#subnav ul li{
	    border-right: 1px solid #ddd;
}
div#item-body > div.item-list-tabs#subnav{
	    border: 1px solid #ddd;
}

#buddypress div.item-list-tabs ul li.last select{
border-top: 0;
height: 2.2rem !important;
font-size: 14px;
border-right: 0;
border-bottom: 0;
padding-right: 20px;
}

/************Category Design*****************/
.mylanguage a{
color: #fff;	}
.mylanguage {
    position: relative;
    background: #000;
    width: 100%;
    color: #fff;
    padding: 0 6px;
    border-radius: 4px 4px 0 0;
    text-align: center;
    font-weight: 700;
    opacity: .9;
    font-size: 12px;
}

.mylabels {
    width: 100%;
    opacity: .8;
}
.leftyear{
    float: right;
    background: #2196F3;
    padding: 0 6px;
	right: 0;
    width: 49%;	
    position: absolute;
}
.leftyear-thumb{
    float: right;
    background: #2196F3;
    padding: 0 6px;
	right: 0;
    width: 49%;	
}
.leftyear-thumb a,
.rightrip-thumb a {
color: #fff;
font-size:12px;
}
.leftyear a,
.rightrip a {
color: #fff;
font-size:12px;
}
.rightrip{
    float: left;
    background: #FFC107;
    padding: 0px 6px;
    color: #fff;
	left: 0;
    width: 49%;
    position: absolute;	
}
.rightrip-thumb{
    float: left;
    background: #FFC107;
    padding: 0px 6px;
    color: #fff;
	left: 0;
    width: 49%;	
}

/******Pricing Table******/
.pricing-table, .recommended {
  position: relative;
  box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.5);
  border-radius: 3px;
  transition: 0.4s ease-in-out;
  z-index: 13; }
  .pricing-table .title{
  background: #fdfdfd !important;

color: #59abe3;
font-size: 2rem; 
  }
 	
  .pricing-table .price, .recommended .price {
   background: #f2f1ef;
    color: #F9690E;
    line-height: 1;
    font-size: 1.4rem;
    padding-top: 8px;}
    .pricing-table .price hr, .recommended .price hr {
      color: #6a6456;
      width: 70%;
      margin: 0 auto; }
  .pricing-table .bullet-item, .recommended .bullet-item {
       background: #f2f1ef;
    border: none;
    padding: 9px;
    color: #465f73;
	}
    .pricing-table .bullet-item span, .recommended .bullet-item span {
      font-size: 1.3rem; }
  .pricing-table .cta-button, .recommended .cta-button {
    background: #f2f1ef; }
    .pricing-table .cta-button .button, .recommended .cta-button .button {
      background-color: #f9690e;
      border-radius: 3px;
      border-bottom: 3px solid #b44804; }
      .pricing-table .cta-button .button:hover, .recommended .cta-button .button:hover {
        background-color: #b44804; }
  .pricing-table span, .recommended span {
    color: #b1ab9f; }

.recommended {
  z-index: 15;
  box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.5);
  border: 3px solid #59abe3;
  transform: scale(1.25); }
  .recommended .best {
      background: #00BCD4;
    text-align: center;
    color: #fff;
    padding: 12px;
	}
    .recommended .best span {
      position: relative;
      text-align: center;
      display: inline-block;
      margin: 0 auto;
      top: -1px;
      background-color: #59abe3;
      color: #f2f1ef;
      padding: 0.3rem 1.5rem;
      height: 2rem;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px; }
  .recommended .cta-button .button {
    background: #59abe3;
    border-bottom: 3px solid #207dbd; }
    .recommended .cta-button .button:hover {
      background-color: #207dbd; }
  @media only screen and (max-width: 40.063em) {
    .recommended {
      transform: scale(1); } }
ul.pricing-table {
    padding: 0;
	text-align:center;
}
ul.pricing-table li{
	list-style:none;
}
.pricing-table{
	float: left;
	min-width: 28%;
	margin-right: 1.65%;
	margin-left: 1.65% !important;
	    width: 100%;
}
.pricing-table .price strong{
    font-size: 54%;
    color: #7e8082;
}

.google-button button:hover{
	    background-color: #a50e1f;
}
.facebook-button button:hover{
	    background-color: #203154;
}
.google-button button{
	background:#d50f25;
}
.facebook-button button{
	background:#3b5998;
}
.twitter-button button{
	background:#55acee;
}

.topbar .left{}
.topbar .right{
	text-align: right;
}
.topbar {
    margin: 0 auto;
    background: #29a4dc;
    color: #fff;
    padding: 5px;
	    margin-top: -12px;
}
/* Pagination */
.pagination {
    clear:both;
    position:relative;
    font-size:12px; /* Pagination text size */
    line-height:13px;
	font-weight: bold;
}
span.current,
a.page-numbers {
    float:left;
    margin: 2px 2px 2px 0;	
	position: relative;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #2c3840;
    color: #fff;
    outline: 0;
    text-decoration: none;
    transition: all 0.2s linear;	
}
 span.page-numbers.dots {
    background: #a1a1a1;
    color: #fff;
    margin: 2px 2px 2px 0;
    font-size: 0.8rem;
    padding: 3px 12px 3px 12px;
    border-radius: 4px;
    float: left;
    display: block;
}
a.page-numbers:hover{
    color:#fff;
    background: #586a76; /* Pagination background on hover */
}
 
span.current{
    background: #557c97;
}
img.attachment-abnomize-featured-image.size-abnomize-featured-image.wp-post-image {
    width: 100%;
	display:block;
}



.marketing-site-footer {
  background: #2c3840;
  color: #8aa0ae;
  padding: 2rem 0 0;
  margin-top:1rem;
}

.marketing-site-footer a {
  color: #8aa0ae;
}

.marketing-site-footer .column-block {
  margin-bottom: 30px;
}

.marketing-site-footer > .row {
  margin-bottom: 1.5rem;
}



.marketing-site-footer-name {
  color: #fefefe;
  margin-bottom: 1rem;
  font-size: 2rem;
}

footer.marketing-site-footer h2.widget-title {
  color: #fefefe;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.marketing-site-footer-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.marketing-site-footer-block .fa {
  font-size: 2rem;
  color: #020304;
}

.marketing-site-footer-block p {
  margin-left: 1rem;
  line-height: 1.125rem;
}

.marketing-site-footer-bottom {
  background: #020304;
  padding: 1rem 0;
}

.marketing-site-footer-bottom p,
.marketing-site-footer-bottom .menu {
  margin-bottom: 0;
}
.marketing-site-footer-bottom .marketing-site-footer-bottom-links ul.sub-menu{
	display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.marketing-site-footer-bottom-links li.menu-item-has-children a:hover ul.sub-menu{
	display: block;
}
.marketing-site-footer-bottom .marketing-site-footer-bottom-links {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links a {
  color: #8aa0ae;
  padding: .7rem 0.6rem;
}
.card {
    border: 0;
    border-radius: 5px;
    position: relative;
    overflow: visible;
}
.card-flex-article .card-divider {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
}

.card-flex-article .card-divider p {
  margin-bottom: 0;
}

.card-flex-article .card-divider .avatar {
  margin-right: 0.75rem;
}

.card-flex-article .avatar {
  position: relative;
}

.card-flex-article .avatar img {
  border-radius: 50%;
}

.card-flex-article .avatar.with-add-icon .fa {
    position: absolute;
    top: 25px;
    right: 0px;
    color: #cc4b37;
}

.card-flex-article .card-actions .fa:not(:last-of-type) {
  margin-right: 1rem;
}

.card-flex-article .card-image {
  position: relative;
}

.card-flex-article .card-tag a {
    color: #ffffff;
    font-size: 0.8rem;
    background: #3adb76;
    padding: 5px;
	    line-height: 2;
}
.card-flex-article.card div.comment {
    background: #464646;
    position: absolute;
    padding: 6px 10px;
    color: #fff;
    z-index: 1;
    top: -6px;
    right: -8px;
}
.card-flex-article.card div.comment:after{
position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px 7px 0 0;
    border-color: #464646 transparent transparent transparent;
}
.card-flex-article .card-image.nothumb .card-tag {
    position: relative;
    top: 7px;
}
.card-flex-article .card-tag {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
 padding-right: 5px; 
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3%;
     z-index: 9; 
}
.postbox h2.entry-title {
    margin-bottom: 0;
	line-height: 1rem;
    padding-bottom: 5px;
}
.postbox h2.entry-title a{
	font-size: 1rem;
}
article .card-flex-article footer.entry-footer{
	
	font-size: inherit;
    line-height: 18px;
    padding: 0;
    display: inline-block;
}
.card-flex-article .card-section h2,s
.card-flex-article .card-section h2.article-title.entry-title a{
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.card-flex-article .card-section .article-details {
  font-size: 0.75rem;
  opacity: 0.5;
  padding-bottom: 0.75rem;
}

.card-flex-article .card-section .article-summary {
    font-size: 0.9rem;
    color: #868686;
}

.card-flex-article .user-info {
  font-size: 0.75rem;
}

.card-flex-article .user-info .user-name {
  font-weight: bold;
  margin-bottom: 0;
}

.card-flex-article .notability {
  font-size: 0.75rem;
  opacity: 0.5;
}
/*****************************
Top Menu
******************************/
.topmenu {
    background-color: #fff;
    height: 70px;
    padding: 8px 0;
}

/*****************************
Media Quries
******************************/

@media screen and (max-width: 39.9375em) {
	.marketing-site-footer .columns {
		margin-bottom: 2rem;
	}
	#content {
		margin-top: 9%;
	}
	.topbar .left,
	.topbar .right{
		text-align: center;
	}
	.searchmob{
	float: right;
	margin-right: 15px;
	border-radius: 4px;
	}
	.title-bar{float:left}
	div#sitewidth,
	footer .social{
	text-align: center !important;}
	.floatingmenu{display: none;} 
	p.site-title,h1.site-title {
    text-align: center;}
}


@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.floatingmenu li.page_item a, .floatingmenu li.menu-item a{
		padding: 0.96rem 1rem;
		}
	.floatingmenu{
		height:auto !important;
		}
	#masthead{
		margin-bottom: 112px;
	}
	}
@media screen and (min-width: 64em) {
	nav#posti{
		display:none !important;
	}
}
@media only screen and (min-width: 40em) {
ul#mobilemenu, .searchmob,
.title-bar{display:none !important;}
}


@media screen and (max-width: 63.9375em) {
  .marketing-site-footer-bottom .marketing-site-footer-bottom-links {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .marketing-site-footer-bottom {
    text-align: center;
  }
}