/* 
	Theme: abnomize 
    Author: Insertcart.com
*/
.wp-customizer .wp-full-overlay-sidebar {
    width: 370px;
}
.wp-customizer .wp-full-overlay.collapsed .wp-full-overlay-sidebar {
    margin-left: -370px;
}
.wp-full-overlay.expanded {
    margin-left: 370px;
}
#customize-theme-controls li#accordion-section-abnomize_important_links h3.accordion-section-title {
    background-color: #ff9d23 !important;
    color: #fff !important;
	    background-image: none;
}
#customize-theme-controls ul#sub-accordion-section-abnomize_important_links,
#customize-theme-controls .accordion-section-title, #customize-outer-theme-controls .accordion-section-title{
	color: #ffffff;
	background-image: url("../images/1.png");
	background-color: #3F51B5;
	background-position: 100% 92%;
}
li#customize-control-important_links a:before {
   content: "\f504";
    font-family: dashicons;
    padding: 3px;
	vertical-align: bottom;
	    font-size: 17px;
    font-weight: normal;}
li#customize-control-important_links a{
line-height: 16px;
    background: #FF9800;
    color: #fff;
    display: block;
	text-decoration: none;
    margin: 15px 0 0;
    text-align: center;
    font-weight: 600;
    padding: 8px 0;
}
li#accordion-section-abnomize_important_links > h3.accordion-section-title:before {
	content: "\f317";
    font-family: dashicons;
    padding: 3px;
	vertical-align: bottom;
    color: #ffffff;}
	li#accordion-section-abnomize_woo_section > h3.accordion-section-title:before {
	content: "\f174";
    font-family: dashicons;
    padding: 3px;
	vertical-align: bottom;
	font-size: 17px;
    font-weight: normal;}
#sub-accordion-section-abnomize_panel_postsettings .customize-control-radio label{
	    padding-top: 3px;
    padding-bottom: 2px;
}
li#accordion-section-custom_css > h3.accordion-section-title:before {
	content: "\f475";
    font-family: dashicons;
    padding: 3px;
	vertical-align: bottom;
	font-size: 17px;
    font-weight: normal;}
li#accordion-section-profile_panel_tabs > h3.accordion-section-title:before {
   content: "\f212";
    font-family: dashicons;
    padding: 3px;
	vertical-align: bottom;
	font-size: 17px;
    font-weight: normal;}
li#accordion-section-profile_panel_featured > h3.accordion-section-title:before {
   content: "\f108";
    font-family: dashicons;
    padding: 3px;
	vertical-align: bottom;
	font-size: 17px;
    font-weight: normal;}
li#accordion-section-abnomize_panel_postsettings > h3.accordion-section-title:before {
   content: "\f491";
    font-family: dashicons;
    padding: 3px;
	vertical-align: bottom;
	font-size: 17px;
    font-weight: normal;}
li#accordion-section-header_image > h3.accordion-section-title:before {
   content: "\f226";
    font-family: dashicons;
    padding: 3px;
	vertical-align: bottom;
	font-size: 17px;
    font-weight: normal;}
li#customize-control-important_links a:before {
   content: "\f504";
    font-family: dashicons;
    padding: 3px;
	vertical-align: bottom;
	    font-size: 17px;
    font-weight: normal;}
li#customize-control-important_links a{
line-height: 16px;
    background: #FF9800;
    color: #fff;
    display: block;
    margin: 15px 0 0;
    text-align: center;
    font-weight: 600;
    padding: 8px 0;
}
li#accordion-panel-abnomize_panel_advance > h3.accordion-section-title:before {
   content: "\f111";
    font-family: dashicons;
    padding: 3px;
	vertical-align: bottom;}
li#accordion-panel-nav_menus > h3.accordion-section-title:before {
   content: "\f214";
    font-family: dashicons;
    padding: 3px;
	vertical-align: bottom;}
li#accordion-section-title_tagline > h3.accordion-section-title:before {
    content: "\f107";
    font-family: dashicons;
    padding: 3px;
	vertical-align: bottom;
}
li#accordion-panel-abnomize_panel_design > h3.accordion-section-title:before {
    content: "\f100";
    font-family: dashicons;
	vertical-align: bottom;
    padding: 3px;
}
li#accordion-panel-widgets > h3.accordion-section-title:before {
    content: "\f479";
    font-family: dashicons;
	vertical-align: bottom;
    padding: 3px;
}
li#accordion-section-static_front_page > h3.accordion-section-title:before {
    content: "\f105";
    font-family: dashicons;
	vertical-align: bottom;
    padding: 3px;
}
li#accordion-panel-ishop_panel_social > h3.accordion-section-title:before {
    content: "\f242";
    font-family: dashicons;
    padding: 3px;
}
li#accordion-panel-ishop_theme_colorcustomize > h3.accordion-section-title:before {
    content: "\f111";
    font-family: dashicons;
    padding: 3px;
}
li#accordion-panel-ishop_slider > h3.accordion-section-title:before {
    content: "\f105";
    font-family: dashicons;
    padding: 3px;
}

#accordion-section-ishop_theme_navigation > ul > li.customize-section-description-container > p{
    color: #f00;
}

#widgets-right > div > a:nth-child(1):hover{
    opacity: 0.8;
 
  }

#customize-control-custom_css > label > textarea{
      background-color: #333;
  color: #fff;
  font-size: 13px;
  min-height: 150px;
}

#accordion-section-ishop_ticker > ul > li.customize-section-description-container > p{
    
    color: #f78828;
}