/*
Theme Name: Theta-Child
Version: 1.0
Description: A child theme of Theta
Author: wizar
Template: theta
*/

@import url("../theta/style.css");
@media screen and (min-width:1026px)
{
.header{
    height: 120px;
}
header .header-wrap .theta-logo {
    margin-top: 34px;
}
/* #menu-item-50{
	margin-right:50px;
} */
#menu-item-45{
	margin-right:50px;
}
	#menu-item-75{
   margin-right: 100px;
	}
#search-site{
    padding-top: 45px;
}  
.menu li .icon-search{
	font-size:40px;
}
}
.sidebar-section > .blog-category {
	    border: 1px solid #ddd;
}
.sidebar-section > .blog-category > ul {
    padding-left: 30px;
	list-style-type:square;
} 
.sidebar-section ul li{	
	list-style-type:square;
}
.sidebar-section > .blog-category > h2, .sidebar-section > .blog-category > div > h2{
	background: #00b22d;
    padding: 10px;
    color: white;
	margin-top:0px;
}
.sidebar-section > .blog-category > div > h2{
	margin-bottom:0px;
}
.sidebar-section > .blog-category > form >input {
	background-color: #7132a1 !important;
	color: #ffffff;
}

.sidebar-section > .blog-category > form >input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:  #ffffff;
}
.sidebar-section > .blog-category > form >input::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
}
.sidebar-section > .blog-category > form >input:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
}
.sidebar-section > .blog-category > form >input:-moz-placeholder { /* Firefox 18- */
  color:#ffffff;
}
#respond > form > .form-submit > #submit{
	border: 2px solid #00b22d;
	color: #00b22d;
	}
#respond > form > .form-submit > #submit:hover{
	background: rgb(46, 179, 45);
    border: 2px solid #2eb32d;
    color: #fff;
}	

@media screen and (max-width:1026px){
	.theta-logo-img img{ width:150px; height:auto}
header .header-wrap .theta-logo{
	margin-top:8px;
}
}
@media screen and (max-width:1026px)
{
	.first-logo{
		transform: scale(0.8);
    display: block;
    float: left;
    margin: 0px;
	}
	.second-logo{
		transform: scale(0.8);
    display: block;
    float: left;
    margin: 0px;
	}
	.theta-logo{
		margin-left:0px !important;
	}
	.second-logo{
		margin-left:5px !important;}
	.second-logo img {
    height: auto !important;}
	.icon-search{
		float: right;
	}
	.theta-search-field{max-width:100% !important;margin-top: 26px !important;}
	#theta-top-search{width:100% !important;}
	#theta-menu{float:unset !important;}
}